@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

/* 
:root {
  --font-family: "Roboto", sans-serf;
  --normal-font: 400;
  --bold-font: 700;
  --bolder-font: 900;
  --bg-color: #fcfcfc;
  --primary-color: #4756df;
  --secondary-color: #ff7235;
  --primary-shadow: #8b8eaf;
  --secondary-shadow: #a17a69;
  --bottom-margin: 0.5rem;
  --bottom-margin-2: 1rem;
  --line-height: 1.7rem;
  --transition: 0.3s;
} */

html{
  scroll-behavior: smooth;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins' , sans-serif;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: #d90429;
}

nav {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 3.5rem;
  background-color: black;
}

nav h1 {
  color: white;
}

nav a {
  color: white;
  transition: 0.4s;
}
nav a:hover {
  color: #d90429;
  border-bottom: 2px solid #d90429;
}

nav ul {
  display: flex;
  gap: 1.9rem;
}

nav ul li {
  font-weight: 700;
}

.burger-menu{
  color: white;
  font-size: 2rem;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  display: none;
}

